body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 350px;
}

.logo img {
    width: 180px;
    margin-bottom: 25px;
}

h1 {
    font-size: 26px;
    margin-bottom: 40px;
    font-weight: 500;
}

input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #FF8200;
    padding: 12px 5px;
    margin-bottom: 25px;
    color: white;
    outline: none;
    font-size: 15px;
}

input::placeholder {
    color: #bbb;
}

.btn {
    width: 100%;
    padding: 10px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #FF8200;
    border-color: #FF8200;
}

.crear-cuenta {
    margin-top: 25px;
    font-size: 14px;
    color: #FF8200;
    cursor: pointer;
}

.crear-cuenta:hover {
    text-decoration: underline;
}